<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.holim.test.pref01"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".PrefActivityFromResource">
			<!-- <meata-data>를 이용 외부 activity에 Preferences 계층구조 제공  -->
            <!-- android:name 은 항상 android.preference 사용  -->
            <!-- android:resource는 \res\xml\밑의 preference xml 파일 지정 -->			
			<meta-data android:name="android.preference" android:resource="@xml/settings" />
		</activity>
		<activity android:name=".PrefActivityFromIntent" />
    </application>
    
    <uses-sdk android:minSdkVersion="7" />
</manifest> 